In [1]:
import json 
from pathlib import Path

file = Path("pygaul")/"data"/"gaul_continent.json"
assert file.is_file(), "not a file"
continent_dict = json.loads(file.read_text())

In [2]:
import pandas as pd 

file = Path("pygaul")/"data"/"gaul_database.parquet"
assert file.is_file(), "not a file"
data = pd.read_parquet(file)
data

,ADM0_CODE,ADM0_NAME,ADM1_CODE,ADM1_NAME,ADM2_CODE,ADM2_NAME,ISO 3166-1 alpha-3
0,257,United Republic of Tanzania,48357,Arusha,115068,Karatu,TZA
1,257,United Republic of Tanzania,115003,Iringa,115032,Iringa Rural,TZA
2,257,United Republic of Tanzania,115003,Iringa,115069,Kilolo,TZA
3,257,United Republic of Tanzania,48365,Manyara,115119,Mbulu,TZA
4,257,United Republic of Tanzania,48373,Pwani,115056,Kisarawe,TZA
...,...,...,...,...,...,...,...
38253,228,South Georgia and the South Sandwich Islands,2715,,25775,,SGS
38254,109,Heard Island and McDonald Islands,1418,,17207,,HMD
38255,36,Bouvet Island,664,,6332,,BVT
38256,10,Antarctica,426,,4375,,ATA
38257,197,Pitcairn,2369,,24279,,PCN

In [3]:
import pygaul 

pygaul.get_names(name="iowa", content_level=1)

  ADM1_NAME ADM1_CODE
0      Iowa      3229

In [4]:
pygaul.get_names(name="iowa", content_level=1, complete=True)

,ADM0_CODE,ADM0_NAME,ADM1_CODE,ADM1_NAME,ADM2_CODE,ADM2_NAME,ISO 3166-1 alpha-3
0,259,United States of America,3229,Iowa,29467,Adair,USA

In [ ]:
# search for duplicates 
duplicates = {}
for continent in continent_dict:
    duplicates[continent] = set()
    current_set = set(continent_dict[continent])
    for other in continent_dict:
        if other == continent:
            continue
        other_list = continent_dict[other]
        duplicates[continent] = duplicates[continent].union(current_set.intersection(other_list))
duplicates

In [ ]:
countries = data.ADM0_CODE.unique()
alone = []
for country in countries: 
    exist = False
    for continent in continent_dict:
        if country in continent_dict[continent]:
            exist = True
            break
    if exist is False:
        alone.append(country)
alone

In [ ]:
data[data.ADM0_CODE.isin(alone)].drop_duplicates(subset=["ADM0_CODE"])