In [3]:
from pathlib import Path 

continents = Path("pygaul")/"data"/"gaul_continent.json"
assert continents.is_file()
database = Path("pygaul")/"data"/"gaul_database.parquet"
assert database.is_file()

In [4]:
# lire les données 
import json
continent_dict = json.loads(continents.read_text())
continent_dict

{'africa': ['Algeria',
  'Angola',
  'Benin',
  'Botswana',
  'Burkina Faso',
  'Burundi',
  'Cabo Verde',
  'Cameroon',
  'Central African Republic',
  'Chad',
  'Comoros',
  'Republic of the Congo',
  'Democratic Republic of the Congo',
  'Djibouti',
  'Egypt',
  'Equatorial Guinea',
  'Eritrea',
  'Swaziland',
  'Ethiopia',
  'Gabon',
  'Gambia',
  'Ghana',
  'Guinea',
  'Guinea-Bissau',
  "Côte d'Ivoire",
  'Kenya',
  'Lesotho',
  'Liberia',
  'Libya',
  'Madagascar',
  'Malawi',
  'Mali',
  'Mauritania',
  'Mauritius',
  'Mayotte',
  'Morocco',
  'Mozambique',
  'Namibia',
  'Niger',
  'Nigeria',
  'Réunion',
  'Rwanda',
  'São Tomé and Príncipe',
  'Senegal',
  'Seychelles',
  'Sierra Leone',
  'Somalia',
  'South Africa',
  'South Sudan',
  'Sudan',
  'Tanzania',
  'Togo',
  'Tunisia',
  'Uganda',
  'Zambia',
  'Zimbabwe'],
 'asia': ['Afghanistan',
  'Armenia',
  'Azerbaijan',
  'Bangladesh',
  'Bhutan',
  'British Indian Ocean Territory',
  'Bahrain',
  'Brunei',
  'Cambodia',
  'China',
  'Cyprus',
  'Egypt',
  'Georgia',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Israel',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Lebanon',
  'Malaysia',
  'Maldives',
  'Mongolia',
  'Myanmar',
  'Nepal',
  'North Korea',
  'Oman',
  'Pakistan',
  'Palestine',
  'Philippines',
  'Qatar',
  'Russia',
  'Saudi Arabia',
  'Singapore',
  'South Korea',
  'Sri Lanka',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Timor-Leste',
  'Turkey',
  'Turkmenistan',
  'United Arab Emirates',
  'Uzbekistan',
  'Vietnam',
  'Yemen'],
 'europe': ['Albania',
  'Andorra',
  'Armenia',
  'Austria',
  'Azerbaijan',
  'Belarus',
  'Belgium',
  'Bosnia and Herzegovina',
  'Bulgaria',
  'Croatia',
  'Cyprus',
  'Czechia',
  'Denmark',
  'Estonia',
  'Finland',
  'France',
  'Georgia',
  'Germany',
  'Greece',
  'Hungary',
  'Iceland',
  'Ireland',
  'Italy',
  'Kazakhstan',
  'Latvia',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Malta',
  'Moldova',
  'Monaco',
  'Montenegro',
  'Netherlands',
  'North Macedonia',
  'Norway',
  'Poland',
  'Portugal',
  'Romania',
  'San Marino',
  'Serbia',
  'Slovakia',
  'Slovenia',
  'Spain',
  'Sweden',
  'Switzerland',
  'Turkey',
  'Ukraine',
  'United Kingdom',
  'Vatican City'],
 'north america': ['Antigua and Barbuda',
  'Bahamas',
  'Barbados',
  'Belize',
  'Canada',
  'Costa Rica',
  'Cuba',
  'Dominica',
  'Dominican Republic',
  'El Salvador',
  'Grenada',
  'Guatemala',
  'Haiti',
  'Honduras',
  'Jamaica',
  'México',
  'Nicaragua',
  'Panama',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent and the Grenadines',
  'Trinidad and Tobago',
  'United States',
  'Anguilla',
  'Aruba',
  'Bermuda',
  'Bonaire, Sint Eustatius and Saba',
  'British Virgin Islands',
  'Cayman Islands',
  'Clipperton Island',
  'Curaçao',
  'Greenland',
  'Guadeloupe',
  'Martinique',
  'Montserrat',
  'United States Minor Outlying Isl',
  'Puerto Rico',
  'Saint-Barthélemy',
  'Saint-Martin',
  'Saint Pierre and Miquelon',
  'Sint Maarten',
  'Turks and Caicos Islands',
  'Virgin Islands, U.S.'],
 'south america': ['Argentina',
  'Bolivia',
  'Brazil',
  'Chile',
  'Colombia',
  'Ecuador',
  'Guyana',
  'Paraguay',
  'Peru',
  'Suriname',
  'Uruguay',
  'Venezuela',
  'Bouvet Island',
  'Falkland Islands',
  'French Guiana',
  'South Georgia and the South Sand'],
 'oceania': ['Australia',
  'Fiji',
  'Kiribati',
  'Marshall Islands',
  'Micronesia',
  'Nauru',
  'New Zealand',
  'Palau',
  'Papua New Guinea',
  'Samoa',
  'Solomon Islands',
  'Tonga',
  'Tuvalu',
  'Vanuatu',
  'American Samoa',
  'Cook Islands',
  'French Polynesia',
  'Guam',
  'New Caledonia',
  'Niue',
  'Norfolk Island',
  'Northern Mariana Islands',
  'Pitcairn Islands',
  'Tokelau',
  'Wallis and Futuna'],
 'antartica': ['Antarctica']}

In [5]:
# lire la base de donnée 
import pandas as pd 

df = pd.read_parquet(database)
df

,ADM0_CODE,ADM0_NAME,ADM1_CODE,ADM1_NAME,ADM2_CODE,ADM2_NAME,ISO 3166-1 alpha-3
0,257,United Republic of Tanzania,48357,Arusha,115068,Karatu,TZA
1,257,United Republic of Tanzania,115003,Iringa,115032,Iringa Rural,TZA
2,257,United Republic of Tanzania,115003,Iringa,115069,Kilolo,TZA
3,257,United Republic of Tanzania,48365,Manyara,115119,Mbulu,TZA
4,257,United Republic of Tanzania,48373,Pwani,115056,Kisarawe,TZA
...,...,...,...,...,...,...,...
38253,228,South Georgia and the South Sandwich Islands,2715,,25775,,SGS
38254,109,Heard Island and McDonald Islands,1418,,17207,,HMD
38255,36,Bouvet Island,664,,6332,,BVT
38256,10,Antarctica,426,,4375,,ATA
38257,197,Pitcairn,2369,,24279,,PCN

In [7]:
df[df["ADM0_NAME"] == "TOTO"].iloc[0]["ADM0_CODE"]

IndexError: single positional indexer is out-of-bounds

In [8]:
new_continent = {}
for continent in continent_dict:
    new_continent[continent] = []
    for country in continent_dict[continent]:
        try: 
            code = df[df["ADM0_NAME"] == country].iloc[0]["ADM0_CODE"]
        except IndexError:
            print(f"Country {country} not found")
            code = country
        new_continent[continent].append(code)

Country Cabo Verde not found
Country Republic of the Congo not found
Country São Tomé and Príncipe not found
Country Tanzania not found
Country Brunei not found
Country Iran not found
Country Laos not found
Country North Korea not found
Country Palestine not found
Country Russia not found
Country South Korea not found
Country Syria not found
Country Vietnam not found
Country Czechia not found
Country Moldova not found
Country North Macedonia not found
Country United Kingdom not found
Country Vatican City not found
Country México not found
Country United States not found
Country Bonaire, Sint Eustatius and Saba not found
Country Curaçao not found
Country United States Minor Outlying Isl not found
Country Saint-Barthélemy not found
Country Saint-Martin not found
Country Saint Pierre and Miquelon not found
Country Sint Maarten not found
Country Turks and Caicos Islands not found
Country Virgin Islands, U.S. not found
Country Falkland Islands not found
Country South Georgia and the South Sand not found
Country Micronesia not found
Country Pitcairn Islands not found

In [9]:
new_continent

{'africa': ['4',
  '8',
  '29',
  '35',
  '42',
  '43',
  'Cabo Verde',
  '45',
  '49',
  '50',
  '58',
  'Republic of the Congo',
  '68',
  '70',
  '40765',
  '76',
  '77',
  '235',
  '79',
  '89',
  '90',
  '94',
  '106',
  '105',
  '66',
  '133',
  '142',
  '144',
  '145',
  '150',
  '152',
  '155',
  '159',
  '160',
  '161',
  '169',
  '170',
  '172',
  '181',
  '182',
  '206',
  '205',
  'São Tomé and Príncipe',
  '217',
  '220',
  '221',
  '226',
  '227',
  '74',
  '6',
  'Tanzania',
  '243',
  '248',
  '253',
  '270',
  '271'],
 'asia': ['1',
  '13',
  '19',
  '23',
  '31',
  '38',
  '21',
  'Brunei',
  '44',
  '147295',
  '64',
  '40765',
  '92',
  '115',
  '116',
  'Iran',
  '118',
  '121',
  '126',
  '130',
  '132',
  '137',
  '138',
  'Laos',
  '141',
  '153',
  '154',
  '167',
  '171',
  '175',
  'North Korea',
  '187',
  '188',
  'Palestine',
  '196',
  '201',
  'Russia',
  '215',
  '222',
  'South Korea',
  '231',
  'Syria',
  '147296',
  '239',
  '242',
  '249',
  '250',
  '255',
  '261',
  'Vietnam',
  '269'],
 'europe': ['3',
  '7',
  '13',
  '18',
  '19',
  '26',
  '27',
  '34',
  '41',
  '62',
  '64',
  'Czechia',
  '69',
  '78',
  '84',
  '85',
  '92',
  '93',
  '97',
  '113',
  '114',
  '119',
  '122',
  '132',
  '140',
  '146',
  '147',
  '148',
  '156',
  'Moldova',
  '166',
  '2647',
  '177',
  'North Macedonia',
  '186',
  '198',
  '199',
  '203',
  '213',
  '2648',
  '223',
  '224',
  '229',
  '236',
  '237',
  '249',
  '254',
  'United Kingdom',
  'Vatican City'],
 'north america': ['11',
  '20',
  '24',
  '28',
  '46',
  '61',
  '63',
  '71',
  '72',
  '75',
  '99',
  '103',
  '108',
  '111',
  '123',
  'México',
  '180',
  '191',
  '208',
  '209',
  '211',
  '246',
  'United States',
  '9',
  '14',
  '30',
  'Bonaire, Sint Eustatius and Saba',
  '39',
  '48',
  '55',
  'Curaçao',
  '98',
  '100',
  '158',
  '168',
  'United States Minor Outlying Isl',
  '200',
  'Saint-Barthélemy',
  'Saint-Martin',
  'Saint Pierre and Miquelon',
  'Sint Maarten',
  'Turks and Caicos Islands',
  'Virgin Islands, U.S.'],
 'south america': ['12',
  '33',
  '37',
  '51',
  '57',
  '73',
  '107',
  '194',
  '195',
  '233',
  '260',
  '263',
  '36',
  'Falkland Islands',
  '86',
  'South Georgia and the South Sand'],
 'oceania': ['17',
  '83',
  '135',
  '157',
  'Micronesia',
  '173',
  '179',
  '189',
  '192',
  '212',
  '225',
  '245',
  '252',
  '262',
  '5',
  '60',
  '87',
  '101',
  '178',
  '183',
  '184',
  '185',
  'Pitcairn Islands',
  '244',
  '266'],
 'antartica': ['10']}